<div class="sui-multi-range">
  <label for="{{name}}" class="sui-range-label">{{label}}</label>
  {{!-- <input type="range" name={{name}} multiple value="{{min}},{{max}}" class="uk-range sui-multi-range-input"/> --}}
  <div name={{name}} data-slider-min={{min}} data-slider-max={{max}} class="sui-multi-slider"></div>
</div>