<div class="sui-range">
  <label for={{name}} class="sui-range-label">
    {{label}}
  </label>
   <div name={{name}} data-slider-min={{min}} data-slider-max={{max}} class="sui-slider"></div>
  {{!-- <div class="sui-range-slider-container" style="--min: {{min}}; --max: {{max}}; --val: {{min}}">
    <output for={{name}} oninput="value = reviewsSlider.valueAsNumber;"></output>
    <input name={{name}} type="range" min={{min}} max={{max}} value={{min}} class="uk-range sui-range-input" />
    <ul class="sui-range-marks">
      <li>{{min}}</li>
      <li>{{max}}</li>
    </ul>
  </div> --}}
</div>